body {
    background-color: #f2f2f2;
}
.BG {
    background-size: cover;
    background-position: center center;
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    min-height: 100vh;
}
.BG > .container {
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.text-center {
    text-align: center;
}
img {
    max-width: 100%;
}
.app-header {
    background-color: #333;
    margin: -20px -30px 0;
    padding: 10px 30px;
    border-radius: 5px 5px 0 0;
}
.app-header .header-content {
    color: #fff;
    font-size: 1.75rem;
    letter-spacing: 1px;
    text-align: center;
}
.logo img {
    max-width: 100%;
}
.block {
    box-shadow: 0 20px 50px 0 rgba(34,43,55,.1);
    background-color: #fff;
    padding: 20px 30px;
    margin: 10px 0;
    border-radius: 5px;
}
.block h4 {
    margin-bottom: 5px;
}
.select-options {
    -webkit-appearance: button;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    -webkit-user-select: none;
    background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
    background-position: 98% center;
    background-repeat: no-repeat;
    border: 1px solid #AAA;
    color: #555;
    font-size: 1.5rem;
    padding: 5px 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    display: block;
    height: auto;
}
.arrive-block {
    background-color: #f2f2f2;
    padding: 20px;
    margin-top: 40px;
    margin-bottom: 20px;
}
.arrive-block h2 {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 3rem;
}
.small-text {
    font-size: 1.25rem;
    font-style: italic;
    color: #777;
    border-bottom: 1px solid #ddd;
    padding-bottom: 3px;
}
.item-lists {
    display: flex;
    flex-wrap: wrap;
}
.item-list {
    color: inherit;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    display: block;
    border: 2px solid transparent;
    border-radius: 20px;
}
.item-list:hover {
    border-color: #ddd;
    color: inherit;
    text-decoration: none;
}
.item-list .thumb {
    text-align: center;
}
.item-list .detail {
    padding: 15px 30px;
}
.item-list h3 {
    text-decoration: underline;
    margin-top: 0;
}
.item-list p {
    margin-bottom: 0;
    margin-top: 5px;
}
.item-note {
    background-color: #f2f2f2;
    padding: 1px 30px;
}
.search-form {
    padding: 15px 0;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.search-input {
    background: #fff;
    border: 2px solid #ececec;
    border-right: none;
    border-left: none;
    font-size: 1.5rem;
    letter-spacing: 0;
    line-height: 1.5;
    height: 50px;
    padding: 0.5rem 2rem;
    flex-grow: 0.5;
    max-width: 100%;
}
.search-button, .load-button {
    background-color: #333;
    border: 2px solid #ececec;
    color: #fff;
    border-radius: 100px;
    font-size: 1.5rem;
    letter-spacing: 2px;
    line-height: 1.5;
    padding: 4px 1.5rem !important;
    min-width: 140px;
    height: 50px;
}
.search-button {
    border-radius: 0 100px 100px 0;
}
.load-button {
    margin: 3rem auto;
    border-color: #333;
    color: #333;
    background: none;
    display: block;
}
.search-button:focus, .load-button:focus, .search-input:focus, .square.search-input:focus {
    border-color: rgba(125,125,125,.5);
    outline: none;
}
.search-form.square {
    margin-top: 0;
    justify-content: inherit;
    flex-wrap: nowrap;
}
.search-button.square {
    height: 35px;
    border-radius: 0;
    border-left: none;
}
.search-input.square {
    height: 35px;
    border-radius: 0;
    margin: 0;
    border-left: 2px solid #ececec;
    width: 400px;
}
.search-form input[type="checkbox"], .search-form input[type="radio"] {
    margin-right: 5px;
}
.search-form label.flex-center {
    padding: 0 15px;
}
.search-select {
    height: 50px;
    border: 2px solid #ececec;
    border-radius: 100px 0 0 100px;
    border-right: 0;
    -webkit-appearance: none;
    padding: 5px 35px 5px 15px;
    background-color: #ececec;
    background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #ececec);
    background-position: 97% center;
    background-repeat: no-repeat;
    letter-spacing: 1px;
}
.full-img {
    text-align: center;
}
.store-lists {
    max-height: 300px;
    overflow-y: auto;
    padding: 10px 25px;
    border: 1px solid #ededed;
    border-top: none;
}
.store-name {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #f2f2f2;
}
.map-container {
    position: relative;
    height: 360px;
    border: 1px solid #ededed;
    border-top: none;
}
.store-tabs ul {
    padding-left: 0;
    list-style-type: none;
    display: flex;
    margin-bottom: 0;
    border-bottom: 1px solid #ededed;
}
.store-tabs ul li {
    cursor: pointer;
    padding: 10px 25px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-bottom: none;
    margin-bottom: -1px;
}
.store-tabs ul li.react-tabs__tab--selected {
    border-color: #ededed;
    background-color: #fff;
}
.pac-container {
    -webkit-box-shadow: 0 8px 17px 0 rgba(0,0,0,.2);
    box-shadow: 0 8px 17px 0 rgba(0,0,0,.2);
    border: none;
}
.pac-container:after {
    display: none;
}
.pac-item {
    padding: 2px 4px;
    border-top: none;
}
.pac-item:hover {
    background-color: #f2f2f2;
}
.main-map .store-lists, .main-map .map-container {
    height: 500px;
    max-height: 500px;
    border-top: 1px solid #ededed;
}
.accordion {
    text-align: left;
}
.accordion h4 {
    margin: 0;
}
.full-img img {
    max-height: 400px;
}
@media all and (max-width: 768px) {
    .search-input,.search-button, .search-select {
        display: inline-block;
        width: 100%;
        margin-bottom: 0;
    }
    .search-input,.search-button, .search-select {
        height: 40px;
    }
    .search-select {
        width: 30%;
        font-size: 1rem;
    }
    .search-button {
        margin-top: 10px;
        border-radius: 100px;
    }
    .search-input {
        width: 70%;
        border-right: 2px solid #ececec;
        border-radius: 0 100px 100px 0;
    }
    .item-list .thumb img {
        max-width: 120px;
    }
    .full-img img {
        max-width: 150px;
    }
    .search-button.square {
        border-left: 2px solid #ececec;
    }
    .search-input.square {
        border-right: 2px solid #ececec;
        margin-bottom: 10px;
    }
}